.TailTalk{
    color: #5F5449;
    font-size: 30px;
}
.carO{
    padding-top: 270px;
    width: auto;
    
}
.carOu{
    background-color: #9B8269;
    
}
.market1{
    padding-top: 20px;
    padding-left: 15px;
    display: inline-block

}
.market2{
   left: 30%;
   padding-left:130px;
   padding-right: 0%;
}
.market3{
    
    padding-left: 500px;
}