.TailTalk {
    color: #5F5449;
    font-size: 30px;
}
.carO {
    padding-top: 270px;
    width: auto;
}
.carOu {
    background-color: #9B8269;
}

.market1 {
    padding-top: 150px;
    padding-left: 15px;
    display: inline-block;
}

.market2 {
    left: 30%;
    padding-left: 130px;
    padding-right: 0%;
}
.market3 {
    padding-left: 500px;
}
.carousel-item {
    position: relative;
    overflow: hidden;
    height: 500px;
}
.carousel-item::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('/TailTalk/img/img-1.jpeg');
    background-size: cover;
    background-position: center;
    filter: blur(20px);
    z-index: 0;
}
.carousel-item img {
    position: relative;
    z-index: 1;
    object-fit: contain;
    height: 100%;
    width: 100%;
}
.autoRotate {
    animation: autoRotateAnimation 5s linear infinite;
}
@keyframes autoRotateAnimation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.autonShow {
    animation: autoShowAnimation 1s both;
}
@keyframes autoShowAnimation {
    from {
        opacity: 0;
        transform: translateY(200px) scale(0.3);
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}
.autoBlur {
    animation: autoBlurAnimation 3s both;
}
@keyframes autoBlurAnimation {
    0% {
        filter: blur(40px);
    }
    45%, 55% {
        filter: blur(0px);
    }
    100% {
        filter: blur(40px);
    }
}
.circle-image {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
}
.feture-m{
    margin-top: 10%;
};
.carousel-inner img{
    background-size: cover;
}
.first-pic{
    height: 800px; /* Match your carousel height */
    width: 100%;
    background-image:  url(https://images.unsplash.com/photo-1612176232942-4ceef9e9acb8?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size:cover;
    background-position: top;
}
.second-pic-infooter {
    height: 800px; /* Match your carousel height */
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1597674078451-cdb78f43674f?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;       /* Cover the entire container */
    background-position: center;  /* Center the image */
    background-repeat: no-repeat; /* Prevent repeating */
}
.third-pic-infooter {
    height: 800px; /* Match your carousel height */
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1693218746012-5f56bc96a157?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;       /* Cover the entire container */
    background-position: center;  /* Center the image */
    background-repeat: no-repeat; /* Prevent repeating */
}