.TailTalk{
    font-size: 40px;
    padding-left: 30px;
}

.img-icon{
    width: 420px;
}
.footer-section {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
}
.button-auth:hover {
    background-color: #FCF3EA !important;
    border: 2px solid #9b8269 !important;
    color: #9b8269 !important;
}
