.TailTalk{
    font-size: 40px;
    padding-left: 30px;
}

.img-icon{
    width: 420px;
}
.footer-section {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
}
.button-auth:hover {
    background-color: #FCF3EA !important;
    border: 2px solid #9b8269 !important;
    color: #9b8269 !important;
}
<<<<<<< HEAD
.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
=======
body{
    transition:all .50s ease;
}
>>>>>>> ad5d6e6c9ba1550bdc68e66422599df4570cd21d
